html {
    background-color: #d1d7dc;
    font-family: sans-serif;
    transition: all .5s;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: .8rem;
    line-height: 1.5;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
    text-underline-offset: none;
    color: #021216;
    text-decoration: none;
}

.maintext {
    font-size: 1.3em;
}

/* 导航样式 */
.navigation-bar {
    width: 100%;
    height: 2.8em;
    display: flex;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: #00000037 0 0 8px;
    align-items: center;
    margin-bottom: 16px;
}

.nav-links {
    width: 100px;
    height: 2em;
    font-size: 1.3em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links :hover {
    background-color: #ff0000;
}

@media screen and (max-width: 742px) {
    .nav-links {
        width: 20%;
    }

    .navigation-bar {
        width: 94.7vw;
    }
} 

/* 链接卡片 */
.linkcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.linkcards a {
    width: auto;
    height: 130px;
    margin: 0 32px 32px 0;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: #00000030 0 1px 6px;
    transition: transform ease .5s, box-shadow ease .5s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.linkcards a :hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: #00000030 0 1px 10px;
}

.linkcards a .targetWebIcon img {
    width: 80px;
    height: 80px;
    margin: 0 10px 0 30px;
    border-radius: 50%;
}

.linkcards a .linkCardMiddleLine {
    height: 80%;
    width: 1.5px;
    background-color: #00000030;
    margin: 0 16px;
}

.linkcards a .targetWebName {
    margin: 0 32px 0 8px;
}

/* .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}

.expanded {
    display: unset;
} */

