html {
    background-color: rgb(225, 230, 235);
    font-family: sans-serif;
    transition: all .5s;
}

body {
    margin: 3em auto;
    width: 100%;
    max-width: 950px;
    line-height: 1.5;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
    text-underline-offset: none;
    color: #021216;
    text-decoration: none;
}

.maintext {
    font-size: 1.3em;
    padding: .8rem;
}

/* 导航样式 */
.navigation-bar {
    width: 100%;
    height: 2.8em;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #ffffff00;
    box-shadow: #00000037 0 0 8px;
    align-items: center;
    transition: all .5s;
    z-index: 1026;
}

.navigation-bar:hover {
    background-color: #00000010;
}

.nav-links {
    width: 90px;
    height: 2em;
    margin: 0 8px;
    font-size: 1.3em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.nav-links:hover {
    background-color: #57575776;
}


/* 链接卡片 */
.linkcards {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.linkcards .linka {
    width: 40%;
    height: 130px;
    padding: 0 16px;
    margin: 10px 16px 22px 16px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: #00000050 0 1px 6px;
    transition: transform ease .5s, box-shadow ease .5s;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.linkcards .linka:hover {
    transform: scale(1.05) translateY(-5px);
    background-color: #ededed;
    box-shadow: #00000030 0 6px 10px;
}

.linkcards .linka .targetWebIcon img { /* 目标网站图标 */
    width: 80px;
    height: 80px;
    margin: 0 10px 0 30px;
    border-radius: 5px;
}

.linkcards > .linka > .linkCardMiddleLine {
    height: 80%;
    width: 2px;
    background-color: #00000030;
    margin: 0 16px;
}

.linkcards > .linka > .targetWebName {
    margin: 0 32px 0 8px;
}

.projectCard {
    height: 233px;
    width: 90%;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    transition: all .6s;
    display: flex;
}

.projectCard > .prjImg {
    height: 100%;
    width: 300px;
    overflow: hidden;
}

.projectCard > .prjImg > img {
    height: 100%;
    transition: all .6s;
}

.projectCard:hover .prjImg > img {
    transform: scale(1.1);
}

.projectCard:hover {
    transform: scale(1.02) translateY(-3px);
}

.projectCard > .texts > .prjName {
    margin: 16px 0 0 8px;
    font-size: 1.7em;
    font-weight: 600;
}

.projectCard:hover .projectCard > .texts > .prjName {
    color: #6545fa;
}

.projectCard > .texts > .prjDetial {
    margin: 0 0 0 16px;
    font-size: .9em;
    color: #555;
}

.album {
    width: 98vw;
    height: auto;
    padding: 0 4vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.album > img {
    width: 45%;
    height: auto;
    margin: 1%;
    border-radius: 8px;
    overflow: hidden;
}

/* 移动端适配 */
@media screen and (max-width: 816px) {
    /* 导航 */
    .nav-links {
        width: 20%;
    }
    
    /* 链接卡片 */
    .linkcards {
        flex-direction: column;
        align-items: center;
    }

    .linkcards .linka {
        width: auto;
    }

    .linkcards .linka {
        width: 80%;
        padding: 18px 0;
        flex-direction: column;
    }  

    .linkcards .linka .targetWebIcon img { /* 目标网站图标 */
        margin: 0;
        height: 80px;
        width: 80px;
    }

    .linkcards .linka .linkCardMiddleLine {
        height: 2px;
        width: 100%;
        background-color: #00000030;
        margin: 0;
    }

    .linkcards .linka .targetWebName {
        margin: 0;
    }

    .album > img {
        width: 91%;
    }
} 