---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
---
<head>
    <meta charset="utf-8" />
</head>
<Navigation />
啊，这是哪里？<br />
可能是我把哪里弄错了吧...<br />
要不要试试返回<a href="/">首页</a>？