---
import BaseLayout from '../layouts/BaseLayout.astro';
import Line from '../components/Line.astro';
import MainText from '../components/MainText.astro'
---

<BaseLayout pageTitle = "About">
    <MainText>
      <h1>关于我</h1>
      <Line />
      我是 Yirween ,存在于浙江北部， 一名高三学生<br />
      目标是保持快乐！<br />
      <br />
      标签（刻板印象用）：<code>INFP</code>
      <br /><br />
      喜欢<a href="https://space.bilibili.com/53456">warma</a>
      、 虚拟歌姬、
      <a href="https://space.bilibili.com/488970166">花谱</a>
      、电子游戏
      <br />
      Yirween是我的唯一标识，你可以通过它在其它地方找到我。中文是“繄溦”但因为打起来太麻烦就基本使用英文了（关键词还有Misaki
      yirween，见崎 雨梦，取自动画《Another》的见崎 鸣）
      <br /><br />
      什么都想试试，但都不太深入去弄（这个网站就是其中之一），准备高考完了学一下建模（原因在下一行）
      <br />
      最近玩上了VRChat，就是开学了不常在线
      <br />
      <Line />
      <h2>名片</h2>
      名：yirween<br />
      职：术士（魔女）<br />
      代理三次元的 ■■■ 处理一切事务<br />
      格：待机时冷漠，启用时较为热情<br />
      貌：158cm 偏白发色 平时会戴帽子  
      <Line />
      不存在于三次元，请不要试图在三次元找到我
    </MainText>
</BaseLayout>