---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { t } from "@config";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
import BaseCard from "@/components/BaseCard.astro";
---

<BaseLayout title="About - yirween">
  <MainCard title="About Me" description="" textOverlay="ABOUT" infoIcon="lucide:user" />
  <BaseCard>
    存在于浙江北部，是高三学生
    <br />
    标签（刻板印象用）：<code>INFP</code>
    <br /><br />
    喜欢<a href="https://space.bilibili.com/53456">warma</a>
    、 虚拟歌姬、
    <a href="https://space.bilibili.com/488970166">花谱</a>
    、电子游戏
    <br />
    Yirween是我的唯一标识，你可以通过它在其它地方找到我。中文是“繄溦”但因为打起来太麻烦就基本使用英文了（关键词还有Misaki
    yirween，见崎 雨梦，取自动画《Another》的见崎 鸣）
    <br />
    什么都想试试，但都不太深入去弄（这个网站就是其中之一）
    <br />
    最近玩上了VRChat，就是开学了不常在线
  </BaseCard>
</BaseLayout>
