---
import BaseLayout from '../layouts/BaseLayout.astro';
import Line from '../components/Line.astro';
import MainText from '../components/MainText.astro'
---

<BaseLayout pageTitle = "About">
    <MainText>
      <h1>关于我</h1>
      <Line />
      我是 Yirween ,存在于浙江北部， 一名高三学生<br />
      目标是保持快乐！<br />
      <br />
      标签（刻板印象用）：<code>INFP</code>
      <br /><br />
      喜欢<a href="https://space.bilibili.com/53456">warma</a>
      、 虚拟歌姬、
      <a href="https://space.bilibili.com/488970166">花谱</a>
      、东方Project、音游<br />
      Yirween是我的唯一标识，你可以通过它在其它地方找到我。
      <!-- 中文是“繄溦”但因为打起来太麻烦就基本使用英文了（关键词还有Misaki
      yirween，见崎 雨梦，取自动画《Another》的见崎 鸣） -->
      <br /><br />
      什么都想试试，但都不太深入去弄（这个网站就是其中之一），准备高考完了学一下建模（原因在下一行）<br />
      最近玩上了VRChat，就是开学了不常在线，通常周日下午一点到两点在线发呆
      <br /><br />
      <!-- 本人情绪稳定，但是说话有点像AI(平时不太说话导致的)<br /> -->
      欢迎和我交朋友！<br />
      <Line />
      <h2>名片</h2>
      名：yirween<br />
      职：术士（魔女）<br />
      代理三次元的 ■■■ 处理一切事务<br />
      格：待机时冷漠，启用时较为热情<br />
      貌：158cm 偏白发色 平时会戴帽子<br />
      <Line />
      <h2>使魔</h2>
      还没设计好 : D<br />
      <Line />
      <h1>关于本站</h1>
      这是 yirween 个人小站的第四版，还没做完，目前还很粗糙，主要用来放一些个人的小东西，兼个人简介等功能，这里的东西会越来越多的喵~<br /><br />
      准备高考之后再把博客站重新上线<br />
      <Line /><br />
      <h1>杂乱的东西</h1>
      yirween 是“繄溦”的音译，而“繄溦”是词典里瞎翻出来的（<br />
      不太会聊天，容易不知道回别人什么<br />
      学习成绩嘛...有点屑<del>，能考上就行</del><br />
      在现实中如果叫我 yirween 的话也可以，三次元名字没几个人念对的（；´д｀）ゞ<br />
      在网上不会真的生气的喵，语气严肃是因为我困了喵<br />
      <!-- 我这个 yirween.com 的域名可以找我免费申请子域名的喵，虽然不知道可以干什么，但是可以弄点有趣的东西，，比如... fucking.synthesizer.v.love.from.yirween.com/????<br /> -->
      <Line />
      <h2>本站使用的资源</h2>
      主页背景图：<a href="https://www.bilibili.com/opus/756538328806850582" target="_blank">bilibili@不鱼_P</a><br />
      其它图片：<a href="https://space.bilibili.com/269116924/" target="_blank">bilibili@荭可HKcutie</a><br />
      图床：<a href="http://imgchr.com/" target="_blank">路过图床</a><br />
    </MainText>
</BaseLayout>