---
import BaseLayout from "../layouts/BaseLayout.astro";
import Line from '../components/Line.astro';
import MainText from '../components/MainText.astro'
import LinkCard from "../components/LinkCard.astro";

const friends = [
  {
    URL: "https://saroprock.com/", 
    Icon: "https://www.saroprock.com/avatar.webp", 
    Name: "EveSunMaple", 
  },
  {
    URL: "https://siquan.42web.io/",
    Icon: "https://siquan001.github.io/favicon.ico",
    Name: "雨竹upon",
  },
];


const accounts = [
  {
    URL: "https://space.bilibili.com/648129231", 
    Icon: "https://bilibili.com/favicon.ico", 
    Name: "BiliBili" 
  },
  {
    URL: "https://steamcommunity.com/id/yirween/", 
    Icon: "https://steamcommunity.com/favicon.ico", 
    Name: "Steam" 
  }
];

const others = [
  { 
    URL: "https://yirween.lofter.com/", 
    Icon: "https://lofter.com/favicon.ico", 
    Name: "Lofter" 
  },
  { 
    URL: "https://www.mfuns.net/member/61449", 
    Icon: "https://www.mfuns.net/favicon.ico", 
    Name: "Mfuns" 
  }
];


const web = [
  {
    URL: "https://www.desmos.com/calculator?lang=zh-CN", 
    Icon: "https://www.desmos.com/favicon.ico", 
    Name: "desmos"
  },
  {
    URL: "https://studymiku.cloudflare.wenqi.icu/",
    Icon: "https://studymiku.cloudflare.wenqi.icu/favicon.ico",
    Name: "Study With MIKU"
  },
  {
    URL: "https://像素点.cn",
    Icon: "https://像素点.cn/favicon.ico",
    Name: "小像素点"
  },
  {
    URL: "https://skr.skr3.cc:666/",
    Icon: "https://skr.skr3.cc:666/favicon.ico",
    Name: "樱之空"
  },
  {
    URL: "",
    Icon: "",
    Name: ""
  },
]
---

<BaseLayout pageTitle="Links">
  <MainText>
    <h1>链接</h1>
    <Line />
    <div class="chooseButton">
      <div class="chooseLinkMode active" id="changeToFriend">朋友们</div>
      <div class="chooseLinkMode" id="changeToOthers">社交账号</div>
      <div class="chooseLinkMode" id="changeToWebs">收藏的宝藏</div>
    </div>
    <div id="friends">
      <h3>友链</h3>
      <Line />
      <div class="linkcards">
        {friends.map(link => <LinkCard {...link} />)}
      </div>
      <p>
        可以通过我的邮箱
        <a href="mailto:yirween@outlook.com">yirween@outlook.com</a>
        或 QQ 2155384970 来和我交朋友！
      </p>
    </div>
    <div class="hidden" id="others">
      <h3>常用账号</h3>
      <p>有点内容或欢迎添加好友的账号</p>
      <Line />
      <div class="linkcards">
        {accounts.map(link => <LinkCard {...link} />)}
      </div>
      <h3>不太用的</h3>
      <p>几乎不用或者没有内容的账号</p>
      <Line />
      <div class="linkcards">
        {others.map(link => <LinkCard {...link} />)}
      </div>
      <Line />
      <div class="contact-info">
        <div>QQ: 2155384970</div>
        <div>邮箱: yirween@outlook.com</div>
      </div>
    </div>
    <div class="hidden" id="webs">
      <h3>收藏的网站</h3>
      <Line />
      <div class="linkcards">
        {web.map(link => <LinkCard {...link} />)}
      </div>
    </div>
  </MainText>
</BaseLayout>

<script>
  // 切换逻辑优化，按钮高亮
  const btns = document.querySelectorAll(".chooseLinkMode");
  const sections = ["friends", "others", "webs"];
  btns.forEach((btn, idx) => {
    btn.addEventListener("click", () => {
      sections.forEach((id, i) => {
        document.getElementById(id)?.classList.toggle("hidden", i !== idx);
        btns[i].classList.toggle("active", i === idx);
      });
    });
  });
</script>

<style>
.chooseLinkMode.active {
  color: #808080;
}
</style>