---
import BaseLayout from "../layouts/BaseLayout.astro";
import Line from '../components/Line.astro';
import MainText from '../components/MainText.astro'
import LinkCard from "../components/LinkCard.astro";
---

<BaseLayout pageTitle = "Links">
    <MainText>
        <h1>链接</h1>
        <Line />
        <div class="chooseButton">
            <div class="chooseLinkMode" id="changeToFriend">友链</div>
            <div class="chooseLinkMode" id="changeToOthers">我在其它地方的各种账号</div>
            <div class="chooseLinkMode" id="changeToWebs">收藏的网站</div>
        </div>
        <div id="friends">
            <h3>友链</h3>
            <Line />
            <div class="linkcards">
                <LinkCard 
                    URL = "https://saroprock.com/"
                    Icon = "https://www.saroprock.com/avatar.webp"
                    Name = "EveSunMaple"
                />
            </div>

            可以通过我的邮箱
            <a href="mailto:yirween@outlook.com">yirween@outlook.com</a>
            或
            QQ 2155384970 
            来联系我添加友链！
        </div>
        <div class="hidden" id="others">
            <h3>常用账号</h3>
            <p>有点内容或欢迎添加好友的账号</p>
            <Line />
            <div class="linkcards">
                <LinkCard 
                    URL = "https://space.bilibili.com/648129231"
                    Icon = "https://bilibili.com/favicon.ico"
                    Name = "BiliBili"
                />
                <LinkCard 
                    URL = "https://steamcommunity.com/id/yirween/"
                    Icon = "https://steamcommunity.com/favicon.ico"
                    Name = "Steam"
                />
            </div>
            <h3>不太用的</h3>
            <p>几乎不用或者没有内容的账号</p>
            <Line />
            <div class="linkcards">
                <LinkCard 
                    URL = "https://yirween.lofter.com/"
                    Icon = "https://lofter.com/favicon.ico"
                    Name = "Lofter"
                />
                <LinkCard 
                    URL = "https://www.mfuns.net/member/61449"
                    Icon = "https://www.mfuns.net/favicon.ico"
                    Name = "Mfuns"
                />
            </div>
            <Line />
            其它联系方式：<br />
            <div style="margin-left: 2em;">
                QQ: 2155384970<br />
                邮箱: yirween@outlook.com<br />
            </div>
        </div>
    </MainText>
</BaseLayout>

<script>
    document.querySelectorAll(".chooseLinkMode").forEach((num, index) => {
        num.addEventListener("click", () => change(["friends", "others", "webs"][index]));
    });

    function change(LinkMode: string) {
        let target;
        let closeItemA;
        let closeItemB;
        switch (LinkMode) {
            case "friends":
                target = document.getElementById("friends");
                closeItemA = document.getElementById("others");
                closeItemB = document.getElementById("webs");
                break;
        
            case "others":
                target = document.getElementById("others");
                closeItemA = document.getElementById("friends");
                closeItemB = document.getElementById("webs");
                break;
                
            case "webs":
                target = document.getElementById("webs");
                closeItemA = document.getElementById("friends");
                closeItemB = document.getElementById("others");
                break;

            default:
                break;
        }
        target?.classList.remove("hidden");
        closeItemA?.classList.add("hidden");
        closeItemB?.classList.add("hidden");
    }
</script>