---
import BaseLayout from "../layouts/BaseLayout.astro";
import Line from '../components/Line.astro';
import MainText from '../components/MainText.astro'
---

<BaseLayout pageTitle = "Projects">
    <MainText>
        <h1>我的作品</h1>
        <Line />
        <h2>文章</h2>
        <Line />
        <h2>我的世界红石</h2>
        <Line />
        <h2>其它</h2>
        <Line />
    </MainText>
</BaseLayout>