---
import BaseLayout from "../layouts/BaseLayout.astro";
import Line from '../components/Line.astro';
import MainText from '../components/MainText.astro'
import ShowProject from "../components/ShowProject.astro";
---

<BaseLayout pageTitle = "Projects">
    <MainText>
        <h1>我的作品</h1>
        <Line />
        <h2>文章</h2>
        <Line />
        <h2>我的世界红石</h2>
        <Line />
        <ShowProject 
            url="https://1drv.ms/u/c/00b631180e134093/EY1SX3nAJT5CkIbjYKnx538B0YzKKtXr7P7o97bN92Kfng?e=zXzPJH"
            Name="输入式滚屏显示器" 
            IMG="https://s21.ax1x.com/2025/08/27/pV6VPtx.png"
            Detial="15字节存储，英文大写字库，可无限拓展 点击下载存档+投影"
        />
        <h2>其它</h2>
        <Line />
        <ShowProject 
            url="https://www.bilibili.com/video/BV13VjMzeEuS/"
            Name="弹幕作品-虚构义"
            IMG=""
            Detial="Bilibili蓝白弹幕合战8th参赛作品丨come on 2026.1.15 敬请期待"
        />
    </MainText>
</BaseLayout>