---
import BaseLayout from '../layouts/BaseLayout.astro';
import Line from '../components/Line.astro';
import MainText from '../components/MainText.astro'
---
<BaseLayout pageTitle = "Nonsense">
    <MainText>
        <span style="font-size: .5em; color: #666;">一些没有意义的东西，放在这里，我不知道为什么要把它们写下来，一切都源于无意识</span>
        <Line />
        <h1>2025/10/14</h1>
        啊，体育课睡着了，，，集合的哨子都没听到，，，<br /><br />
        嗯？你在看这段文字吗？......那你看吧。<br /><br />
        情绪贩卖好像很赚钱呢...情绪...文字...思想... ————写语文作业有感<br /><br />
        
        <Line />
        <h1>2025/10/12</h1>
        我在这个世界上，这个世界给了我有且仅有一此的生命，我将以我最狂热的理想与热情报答这个世界。<br /><br />
        排名...分数...这些数字是我的追求吗？我学习是为了自我的进步吧，或者说，其实只是为了考大学，可以选一个自己感兴趣的专业，我也没那么热爱学习。成绩嘛...实际上也没人在意我怎么样、考了几名，一切都是要我自己所承担的，不会有其他人因为我怎么样。学业是重要的，但它也不是我的全部，我是一个学生，同时，我也是我父母的孩子，是某人的朋友，或者是某个up主的粉丝...做我自己想做的吧...或许我可以创造出一些价值<br /><br />
        嗯，价值又是什么呢<br /><br />
        还有八十多天首考，两百多天高考。我的高中生涯也是到了晚期，到现在上什么学校、选什么专业还是没什么头绪，一直在想，终究是想不出一点结果。<br /><br />
        前几天看了毕导的世界是对数的那期视频，人对时间流速的感知与年龄是对数的，而我现在18岁了，也就是说在感知上我的生命已经过去一半了。这一半的生命里我做了什么呢，好像什么都没干，没有目标，一直在迷茫之中...<br /><br />
        我能出现在这个世界上，它本身就是奇迹吧，独一无二的一个我，我的大脑，只能操控我这一具身体，不能操控别的。嗯，对。<br /><br />
        太阳斜了，阳光照到了我的书桌上，要把我的眼睛闪瞎了。我把窗帘拉上，感觉好暗。于是我打开台灯，还是感觉自然光比较好，但是自然光太亮了，会把我的眼睛闪瞎。<br /><br />
        input.又听了一遍爆炸电台<a href="https://www.bilibili.com/video/BV1u44y1v7Ks/" target="_blank" rel="noopener noreferrer">https://www.bilibili.com/video/BV1u44y1v7Ks/</a> 
    </MainText>
</BaseLayout>