---
import BaseLayout from '../layouts/BaseLayout.astro';
import Line from '../components/Line.astro';
import MainText from '../components/MainText.astro';
import Password from '../components/Password.astro';
---
<Password />
<BaseLayout pageTitle = "Nonsense">
    <MainText>
        <span style="font-size: .5em; color: #666;">一些没有意义的东西，放在这里，我不知道为什么要把它们写下来，一切都源于无意识</span>
        <Line />
        <h1>2025/10/26</h1>
        十月二十六日，嗯，是沃玛生日。<br />
        是在一九年第一次看到沃玛的视频<a href="https://www.bilibili.com/video/BV1ut411P7Sz/" target="_blank" rel="noopener noreferrer">我家里有蜘蛛！！！【原创曲】</a>感觉很有意思，不过那时候没关注，到二零年再一次刷到沃玛的<a href="https://www.bilibili.com/video/BV1ak4y1B7aG/" target="_blank" rel="noopener noreferrer">沃玛的生活</a>关注了！喜欢这种傻开心的视频风格~<br />
        对我影响最大的应该是<a href="https://space.bilibili.com/53456/lists/149941?type=season" target="_blank" rel="noopener noreferrer">爆炸电台</a>吧，一个电台节目，聊各种东西，对我的思想和处事态度什么的影响挺大的吧，
        沃玛就是她的名字"warma"那样，温暖了以前阴暗的我，把我从那种奇怪扭曲的心理里拉了出来<!-- 这话怎么感觉哪里怪怪的 --> <br />
        不过最近对沃玛的那种喜爱的热情没那么高了<del>（主要是因为她更新视频周期太长了）</del><br /><br />
        
        蓝白的作品相比于其它选手感觉我的好逊啊！今天打算再优化一下的，完全没思路，可能太久没弄了吧，就简单地微调了几个地方<br />
        之前草草地把主体内容做完就把稿交了，说了之后可能再重新交一稿细化后的，但是细化完全没思路呢，马上十一月了，之后就真的没时间弄了呢...<del>虽然现在其实也没时间</del>


        <Line />

        <h1>2025/10/23</h1>
        每次听歌终是要留下点眼泪，嗯，现在正是情感最强烈的年纪啊。别人说到了大学可能就不会有这么强的情感了，乘着还有一点时间，，一年？多听听歌，看点艺术作品吧。<br />
        喜欢花譜的歌，黑柿子的曲，可惜没新曲听了呐，神椿能不能再出一位那么强的曲师呢<br />
        46_P的<a href="https://www.bilibili.com/video/BV1654y17773/" target="_blank">她追逐着月光的尽头</a>在耳机里循环了几年了呢，再次听还是有很大感触。<br />
        <!-- 还有75天首考，23:55，今天周考什么的占了晚自习，作业没写完呢，我也成了作业没写完的人了。对着电脑发呆，不该这么晚，明天又要靠着咖啡因度日，唔.... -->
        <Line />
        <h1>2025/10/14</h1>
        啊，在体育课上睡着了，，，集合的哨子都没听到，，，<br /><br />
        嗯？你在看这段文字吗？......那你看吧。<br /><br />
        情绪贩卖好像很赚钱呢...情绪...文字...思想... ————写语文作业有感<br /><br />
        
        <Line />
        <h1>2025/10/12</h1>
        我在这个世界上，这个世界给了我有且仅有一此的生命，我将以我最狂热的理想与热情报答这个世界。<br /><br />
        排名...分数...这些数字是我的追求吗？我学习是为了自我的进步吧，或者说，其实只是为了考大学，可以选一个自己感兴趣的专业，我也没那么热爱学习。成绩嘛...实际上也没人在意我怎么样、考了几名，一切都是要我自己所承担的，不会有其他人因为我怎么样。学业是重要的，但它也不是我的全部，我是一个学生，同时，我也是我父母的孩子，是某人的朋友，或者是某个up主的粉丝...做我自己想做的吧...或许我可以创造出一些价值<br /><br />
        嗯，价值又是什么呢<br /><br />
        还有八十多天首考，两百多天高考。我的高中生涯也是到了晚期，到现在上什么学校、选什么专业还是没什么头绪，一直在想，终究是想不出一点结果。<br /><br />
        前几天看了毕导的世界是对数的那期视频，人对时间流速的感知与年龄是对数的，而我现在18岁了，也就是说在感知上我的生命已经过去一半了。这一半的生命里我做了什么呢，好像什么都没干，没有目标，一直在迷茫之中...<br /><br />
        我能出现在这个世界上，它本身就是奇迹吧，独一无二的一个我，我的大脑，只能操控我这一具身体，不能操控别的。嗯，对。<br /><br />
        太阳斜了，阳光照到了我的书桌上，要把我的眼睛闪瞎了。我把窗帘拉上，感觉好暗。于是我打开台灯，还是感觉自然光比较好，但是自然光太亮了，会把我的眼睛闪瞎。<br /><br />
        input.又听了一遍爆炸电台<a href="https://www.bilibili.com/video/BV1u44y1v7Ks/" target="_blank" rel="noopener noreferrer">https://www.bilibili.com/video/BV1u44y1v7Ks/</a> 
    </MainText>
</BaseLayout>