---
import BaseLayout from "../layouts/BaseLayout.astro";
import Line from '../components/Line.astro';
import MainText from '../components/MainText.astro'
import LinkCard from "../components/LinkCard.astro";
import "../styles/global.css"
---


<BaseLayout pageTitle = "Other">
    <h1>在各个社交媒体找到我</h1>
    <Line />
    <MainText>
        <div class="linkcards">
            <LinkCard 
                URL = "https://space.bilibili.com/648129231"
                Icon = "https://bilibili.com/favicon.ico"
                Name = "BiliBili"
            />
        </div>
    </MainText>
</BaseLayout>