---
import BaseLayout from "../layouts/BaseLayout.astro";
import Line from '../components/Line.astro';
import MainText from '../components/MainText.astro'
import LinkCard from "../components/LinkCard.astro";
import "../styles/global.css"
---


<BaseLayout pageTitle = "Other">
    <h1>在其他地方找到我</h1>
    <Line />
    <MainText>
        <div class="linkcards">
            <LinkCard 
                URL = "https://space.bilibili.com/648129231"
                Icon = "https://bilibili.com/favicon.ico"
                Name = "BiliBili"
            />
            <LinkCard 
                URL = "https://steamcommunity.com/id/yirween/"
                Icon = "https://steamcommunity.com/favicon.ico"
                Name = "Steam"
            />
            <LinkCard 
                URL = "https://yirween.lofter.com/"
                Icon = "https://lofter.com/favicon.ico"
                Name = "Lofter"
            />
        </div>
        <Line />
        其它联系方式：<br />
        <div style="margin-left: 2em;">
            QQ: 2155384970<br />
            邮箱: yirween@outlook.com<br />
        </div>
    </MainText>
</BaseLayout>