---
import BaseLayout from "../layouts/BaseLayout.astro";
import MainText from '../components/MainText.astro'
---

<BaseLayout pageTitle = "Album">
    <div class="album">
        <p style="width: 100%; padding-left: 1vw; font-size: 1.5em; ">右键/长按 保存图片哦</p>
        <img src="https://s21.ax1x.com/2025/08/27/pV6kmBn.png" alt="图片加载失败了QAQ，要不刷新试试" />
        <img src="https://s21.ax1x.com/2025/08/27/pV6kYu9.png" alt="图片加载失败了QAQ，要不刷新试试" />
        <img src="https://s21.ax1x.com/2025/08/27/pV6k58S.png" alt="图片加载失败了QAQ，要不刷新试试" />
    </div>
</BaseLayout>