---
const { URL, Icon, Name } = Astro.props
---



    <a href={ URL }>
        <div class="targetWebIcon"><img src={ Icon } alt="图标加载失败了捏"></div>
        <div class="linkCardMiddleLine"></div>
        <div class="targetWebName"> { Name } </div>
    </a>