---
const { URL, Icon, Name } = Astro.props
---



<a class="linka" href={ URL }>
    <div class="targetWebIcon"><img src={ Icon } alt="图呢？"></div>
    <div class="linkCardMiddleLine"></div>
    <div class="targetWebName"> { Name } </div>
</a>