---
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/ynhdimgRD-nobg.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} - Yirween</title>
</head>
<body>
    <script>
        const upper = document.getElementById("scrollup");
        upper?.addEventListener("click", function () {
            window.scrollTo({ top: 0, left: 0, behavior: "smooth" });
        });
    </script>
    <!-- 导航栏 -->
    <header>
        <nav>
            <div class="navigation-bar">
                <a class="nav-links" href="/">首页</a>

                <a class="nav-links" href="/about">关于</a>

                <a class="nav-links" href="/links">链接</a>

                <a class="nav-links" href="/more">小东西</a>
            </div>
        </nav>
    </header>
    <!-- 正文部分 -->
    <slot />
    <!-- 滚动条 -->
    <div class="scrollBar" id="scrollBar">
        <div class="scrollLine" id="scrollLine">
            <div class="scrollBall" id="scrollBall"></div>
        </div>
        <div class="lastView" id="lastView"></div>
    </div>

    <!-- 访问量统计 -->
    <div style="display: none;">
        今日总访问量 <span id="busuanzi_today_pv">加载中...</span> 次
        今日总访客数 <span id="busuanzi_today_uv">加载中...</span> 人
        本站总访问量 <span id="busuanzi_site_pv">加载中...</span> 次
        本站总访客数 <span id="busuanzi_site_uv">加载中...</span> 人
        本页总阅读量 <span id="busuanzi_page_pv">加载中...</span> 次
        <a href="https://www.busuanzi.cc/count.php?search=yirween.com" title="不蒜子统计" target="_blank">
            <img style="width:85px;height:25px;" src="https://www.busuanzi.cc/static/images/bsz-tongji.png">
        </a>    
    </div>
    <script src="//cdn.busuanzi.cc/busuanzi/3.6.9/busuanzi.min.js" defer></script>
    <!-- 引入滚动条js -->
    <script src="/js/scrollbar.js" defer></script>
</body>
</html>