---
import Header from '../components/Header.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/ynhdimgRD-nobg.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} - Yirween</title>
</head>
<body>
    <Header />
    <slot />
</body>
</html>