---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <p>发表于：{frontmatter.pubDate.toString().slice(0,10)}</p>
    <p>作者：{frontmatter.author}</p>
    <slot />
</BaseLayout>